.container .logo{
    font-size: 40px;
    font-weight: 600;  
    color: #200000;    
}
header section{
    height: 6rem;
    justify-content:space-between;
    align-items:center;
    border-bottom: 2px solid #200000;
    padding-left: 2%;
    padding-right: 2%;
}

header nav ul{
    display: flex;
    /* flex-direction: row; */
    /* text-align: center; */
    gap: 16px;
}

nav ul li{
    display: inline-block;
    /* padding: 8px 12px; */
    position: relative;
}

nav ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #200000;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover ::after{
    width: 100%;
}
header nav ul li a{
    /* margin: 0 7px; */
    color: #111129;
}